<div class="header-blue">
  <app-bigto-nav></app-bigto-nav>

  <div class="container hero">
    <div class="row">
      <div class="col-lg-5 col-lg-offset-1 col-md-6 col-md-offset-0">
        <h1>당신은 얼마에 파시겠습니까?</h1>
        <p>이제 더 이상 즉흥적으로 팔거나 사지 마세요. 최고의 가격과 최고의 시기는 아직 다가오지 않았습니다</p>
        <button class="btn btn-default btn-lg action-button" type="button"><a routerLink="/graph">현황 보기</a></button>
      </div>
      <div class="col-lg-5 col-lg-offset-0 col-md-5 col-md-offset-1 hidden-xs hidden-sm phone-holder">
        <div class="iphone-mockup"><img src="assets/img/iphone.svg" class="device">
          <div class="screen"></div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="team-boxed">
  <div class="container">
    <div class="intro">
      <h2 class="text-center">Team CTO</h2>
      <p class="text-center">팀 CTO는 시작은 미약했으나 이제는 대단한 능력을 가진 사람들로 변모했다. 마지막까지 최선을 다하자.</p>
    </div>
    <div class="row people">
      <div class="col-md-4 col-sm-6 item">
        <div class="box"><img class="img-circle" src="assets/img/yunha.jpg">
          <h3 class="name">박윤하</h3>
          <p class="title">llighter(Team Leader)</p>
          <p class="description">팀장으로 갖은 고초를 겪어가며 성장한 전형적인 자수성가 인재로 최신기술과 전공지식으로 무장한 인재다. </p>
          <div class="social"><a href="#"><i class="fa fa-facebook-official"></i></a><a href="#"><i class="fa fa-twitter"></i></a><a href="#"><i class="fa fa-instagram"></i></a></div>
        </div>
      </div>
      <div class="col-md-4 col-sm-6 item">
        <div class="box"><img class="img-circle" src="assets/img/sin.jpg">
          <h3 class="name">신관용</h3>
          <p class="title">Frontend</p>
          <p class="description">비전공으로 시작 수업을 버거워하며 구른 팀원 미적 감각이 없는데도 자꾸 디자잉ㄹ 파트를 하고 싶어 한다.</p>
          <div class="social"><a href="#"><i class="fa fa-facebook-official"></i></a><a href="#"><i class="fa fa-twitter"></i></a><a href="#"><i class="fa fa-instagram"></i></a></div>
        </div>
      </div>
      <div class="col-md-4 col-sm-6 item">
        <div class="box"><img class="img-circle" src="assets/img/one.jpeg">
          <h3 class="name">서종원</h3>
          <p class="title">Server</p>
          <p class="description">비주얼 담당부터 백엔드까지 익힌 풀스택 인재.
            한번 일에 몰두하면, 다른 무엇도 눈에 들어오지 않는 스타일.
            집중 후 회복기가 필요하다.</p>
          <div class="social"><a href="#"><i class="fa fa-facebook-official"></i></a><a href="#"><i class="fa fa-twitter"></i></a><a href="#"><i class="fa fa-instagram"></i></a></div>
        </div>
      </div>
    </div>
    <div class="row people col-md-offset-1">
      <div class="col-md-5 col-sm-6 item">
        <div class="box"><img class="img-circle" src="assets/img/aa.jpeg">
          <h3 class="name">배재현</h3>
          <p class="title">Data Engineer</p>
          <p class="description">데이터를 read하고 lead하는 sw개발자.</p>
          <div class="social"><a href="#"><i class="fa fa-facebook-official"></i></a><a href="#"><i class="fa fa-twitter"></i></a><a href="#"><i class="fa fa-instagram"></i></a></div>
        </div>
      </div>
      <div class="col-md-5 col-sm-6 item">
        <div class="box"><img class="img-circle" src="assets/img/ss.jpeg">
          <h3 class="name">서정효</h3>
          <p class="title">Data Engineer</p>
          <p class="description">데이터는 내가 책임진다</p>
          <div class="social"><a href="#"><i class="fa fa-facebook-official"></i></a><a href="#"><i class="fa fa-twitter"></i></a><a href="#"><i class="fa fa-instagram"></i></a></div>
        </div>
      </div>
    </div>
  </div>
</div>
