<nav class="navbar navbar-default navigation-clean-search">
  <div class="container">
    <div class="navbar-header">
      <a class="navbar-brand navbar-link" routerLink="/home" routerLinkActive="active"><img src="assets/img/smartphone (1).png" id="logo">CTO Research</a>
      <button class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navcol-1"><span class="sr-only">Toggle navigation</span><span
        class="icon-bar"></span><span class="icon-bar"></span><span class="icon-bar"></span></button>
    </div>
    <div class="collapse navbar-collapse" id="navcol-1">
      <ul class="nav navbar-nav navbar-left">
        <li role="presentation"><a routerLink="/graph" routerLinkActive="active"><i class="ion-stats-bars"></i><span
          id="graph-menu"> Graph</span></a></li>
        <li role="presentation"><a routerLink="/analysis"><i class="ion-ios-flask"></i><span id="analysis-menu"> Analysis</span></a>
        </li>
      </ul>
      <form class="navbar-form navbar-left" target="_self">
        <div class="form-group">
          <label class="control-label" for="search-field"><i class="glyphicon glyphicon-search"></i></label>
          <input class="form-control search-field" type="search" name="search" id="search-field">
        </div>
      </form>
      <a class="btn btn-default navbar-btn navbar-right action-button" role="button" routerLink="/login" *ngIf="!isLoggedin">Login </a>
      <a class="btn btn-default navbar-btn navbar-right action-button" role="button" (click)="logout()" *ngIf="isLoggedin">LogOut </a>
    </div>
  </div>
</nav>

